{
  "assetDirectories" : [
    "..\\assets\\",	
    "..\\..\\global\\assets\\vanilla\\",
    //"..\\..\\global\\assets\\client-side patch\\",
    //"..\\..\\global\\assets\\vanilla custom content\\",
    //"..\\..\\global\\assets\\texture packs\\",
    "..\\..\\global\\assets\\custom_character\\",
    "..\\..\\global\\assets\\songbook\\",
    "..\\..\\global\\assets\\shaders\\",
    "..\\mods\\",
	
	// SongPack
	
	"..\\..\\workshopContent\\1561307752\\", // Deltarune : Chapter 1 (Song Pack)
	"..\\..\\workshopContent\\1424871827\\", // Songs 10K 2019 Edition
	
	// Library Mod
	
	"..\\..\\workshopContent\\2512589532\\", // Stardust Core Lite
	"..\\..\\workshopContent\\2144215143\\", // Anter583's Utility Library
	"..\\..\\workshopContent\\2230165463\\", // TerraLib
	"..\\..\\workshopContent\\2608061089\\", // Player Voice // Badly made... is both sided even though it could have been made client sided with server compatibility
	
	// Small Mod
	
	"..\\..\\workshopContent\\2399451206\\", // Cleaner UI Bars (AnomNom Edition) - C Side -- Not In Collection
	"..\\..\\workshopContent\\2186684477\\", // Compressed Madness - B Side
	"..\\..\\workshopContent\\1732808640\\", // Smart Crew
	"..\\..\\workshopContent\\1185445462\\", // Better Quest Complete Markers - C Side -- Not In Collection
	"..\\..\\workshopContent\\1117007107\\", // More Planet Info (work with 1.4.X not guaranteed)
	"..\\..\\workshopContent\\2491627322\\", // Arctic Everwood Planets - B Side
	"..\\..\\workshopContent\\2438077302\\", // Nightshade Planets - B Side
	"..\\..\\workshopContent\\3269792617\\", // Planet Search
	"..\\..\\workshopContent\\3407051513\\", // Cutieverse 2.0 - Space Navigation Reskin
	"..\\..\\workshopContent\\882900100\\", // bk3k's Inventory
	"..\\..\\workshopContent\\3431151049\\", // [oSB] Bloom Shader - C Side -- Not In Collection
	"..\\..\\workshopContent\\3208917628\\", // Star Custom Chat - C Side -- Not In Collection
	//"..\\..\\workshopContent\\3145473452\\", // [SE/oSB] Quick Commands! -- Not In Collection
	"..\\..\\workshopContent\\3425456029\\", // [oSB] Unde Venis
	"..\\..\\workshopContent\\3266061335\\", // Matter Manipulator Keybinds [StarExtensions / OpenSB]
	"..\\..\\workshopContent\\2451043851\\", // Ruler
	"..\\..\\workshopContent\\3489317643\\", // Working Clocks!
	"..\\..\\workshopContent\\1109298396\\", // Planetary Clock
	"..\\..\\workshopContent\\1974816168\\", // Redone Ship Encounters - Names, Icons, Descriptions, and Horizions
	"..\\..\\workshopContent\\2548423095\\", // Detailed Ship Encounters
	//"..\\..\\workshopContent\\738447075\\", // Blood Mod Reduced -- Not In Collection
	"..\\..\\workshopContent\\742434873\\", // Citybound - B Side
	"..\\..\\workshopContent\\2879229468\\", // Improved Parallax For Scorched Planets
	"..\\..\\workshopContent\\784179199\\", // Outpost Nebula - Orion
	"..\\..\\workshopContent\\3173377859\\", // Wearable Pet Collars! (FU Compatible) - B Side
	"..\\..\\workshopContent\\729428803\\", // Skizot's Dozers - B Side
	"..\\..\\workshopContent\\1108897518\\", // The Bookstore - B Side
	"..\\..\\workshopContent\\729597107\\", // Familiars Race - B Side
	"..\\..\\workshopContent\\2018183533\\", // Recipe Browser
	"..\\..\\workshopContent\\1789115955\\", // Protogen Race - B Side
	"..\\..\\workshopContent\\729532886\\", // Universal Uncrafter - B Side
	"..\\..\\workshopContent\\3496192756\\", // [oSB] Searchable Colony Tags
	"..\\..\\workshopContent\\730345453\\", // Themed Colony Deeds - B Side
	"..\\..\\workshopContent\\729558042\\", // Avali (Triage) Race Mod - B Side
	"..\\..\\workshopContent\\1416038072\\", // Avali Weapon Type Additions - B Side
	"..\\..\\workshopContent\\898712767\\", // Avali Objects+ - B Side
	"..\\..\\workshopContent\\1175632845\\", // Valisocks - B Side
	//"..\\..\\workshopContent\\2930978909\\", // More Dragon-Like AI for Draconis -- Not In Collection
	"..\\..\\workshopContent\\1115920474\\", // RPG Growth - B Side
	"..\\..\\workshopContent\\2433700417\\", // RPG Growth Tabs & Profession Retexture
	"..\\..\\workshopContent\\3500457536\\", // RPG Growth: Textures Reimagined
	// "..\\..\\workshopContent\\2664403713\\", // Pixels to Research Reupload - C Side
	"..\\..\\workshopContent\\729428280\\", // Gardenbot2 : Reboot Edition - B Side
	"..\\..\\workshopContent\\2967291460\\", // Swap Augments!
	"..\\..\\workshopContent\\1944654958\\", // Nametags!
	"..\\..\\workshopContent\\3060280131\\", // Book of Spirits - NPC & Monster Name Displayer
	"..\\..\\workshopContent\\1111827118\\", // Diverse Weather - B Side
	"..\\..\\workshopContent\\3405399202\\", // Back Weapon II - C Side
	"..\\..\\workshopContent\\729466018\\", // Item Frame - B Side
	"..\\..\\workshopContent\\3130002733\\", // Quantum Stable Item Frames - B Side
	"..\\..\\workshopContent\\735253889\\", // Job Offers - B Side
	"..\\..\\workshopContent\\3136023760\\", // Competent Crates - B Side
	"..\\..\\workshopContent\\3270016569\\", // crazyring warp cinematic - C Side
	"..\\..\\workshopContent\\1340754681\\", // Placeable Dynamic FTL Drive - B Side
	//"..\\..\\workshopContent\\3344448873\\", // Auto Trash -- Integrated In Arcana
	"..\\..\\workshopContent\\1625432176\\", // Modded Experience Title -- Not In Collection
	"..\\..\\workshopContent\\737195784\\", // Missing Music Addition [Official Soundtrack] -- Not In Collection
	"..\\..\\workshopContent\\763862926\\", // Terraria Music Addition -- Not In Collection
	"..\\..\\workshopContent\\1380185649\\", // Instrument Crafting - B Side
	//"..\\..\\workshopContent\\3546647977\\", // [oSB] OpenUI - C Side
	"..\\..\\workshopContent\\1382195713\\", // The Musical Frying Pan - B Side
	//"..\\..\\workshopContent\\3516571421\\", // [oSB] Animis Avatar Suite - C Side
	//"..\\..\\workshopContent\\2451048957\\", // Ruler Collections Replacer
	"..\\..\\workshopContent\\3545869822\\", // [oSB] Automatically Scan Objects! - C Side
	"..\\..\\workshopContent\\3630819794\\", // TV's Story Resprites and Redesigns - B Side
	"..\\..\\workshopContent\\1944652363\\", // Improved Swim Physics! - C Side
	"..\\..\\workshopContent\\3239694584\\", // Everybody Needs Glasses - B Side
	"..\\..\\workshopContent\\895084869\\", // Ambient Sound Makers - B Side
	"..\\..\\workshopContent\\2844996935\\", // Omnicrafter!
	//"..\\..\\workshopContent\\3488372244\\", // [oSB] Wall-Mounted Omnicrafter -- Not In Collection
	"..\\..\\workshopContent\\3478605034\\", // Action Dawl Spawner!
	"..\\..\\workshopContent\\3001864502\\", // Acid's Hair Mod - B Side
	"..\\..\\workshopContent\\2610791774\\", // Player Dances and Emotes +
	"..\\..\\workshopContent\\2143587500\\", // Empty Hand
	"..\\..\\workshopContent\\2848049388\\", // Tech Loadouts
	"..\\..\\workshopContent\\2920684844\\", // Tech Loadout Binds [StarExtensions / OpenSB]
	"..\\..\\workshopContent\\2507851821\\", // Unequip and Remove Techs
	"..\\..\\workshopContent\\2755442799\\", // Wildfire
	"..\\..\\workshopContent\\2380700372\\", // Less Dead Moons - Moon Dungeons
	"..\\..\\workshopContent\\753464364\\", // Moon Overhaul
	"..\\..\\workshopContent\\2611501999\\", // Neki
	"..\\..\\workshopContent\\1396610566\\", // Kitsune Race
	"..\\..\\workshopContent\\1544541658\\", // Arcana's Kitsune Hairstyle
	"..\\..\\workshopContent\\1103027918\\", // The Saturnians
	"..\\..\\workshopContent\\1360547769\\", // Lyceen Race // Half-Baked and Unfinished
	"..\\..\\workshopContent\\779096734\\", // Lamia Race
	"..\\..\\workshopContent\\2577843308\\", // Drone Race
	"..\\..\\workshopContent\\868165595\\", // Draconis Race(Humanoid Dragon Race)
	"..\\..\\workshopContent\\2297133082\\", // Futara's Dragon Engine [oSB Optional Support]
	"..\\..\\workshopContent\\3480474788\\", // Futara's Dragon Character Dynamic Size
	"..\\..\\workshopContent\\1958993491\\", // Futara's Dragon Race
	"..\\..\\workshopContent\\1296666565\\", // Heartbeat 3.0
	"..\\..\\workshopContent\\3492414889\\", // Universal Wardrobe (0.1.2)
	"..\\..\\workshopContent\\2596021740\\", // Supper's Combat Overhaul - But its only NPC Behaviors
	"..\\..\\workshopContent\\2173629563\\", // Adventurer’s Addons: Loot, Treasure, and Equipment Expanded!
	"..\\..\\workshopContent\\2912289180\\", // Ruin Overhaul
	"..\\..\\workshopContent\\2845911688\\", // Frackin' Universe - Legacy Planets
	"..\\..\\workshopContent\\2887613624\\", // Tougher Mobs with Better Loot!
	"..\\..\\workshopContent\\2488560218\\", // Protogen Customization
	"..\\..\\workshopContent\\3334430586\\", // Minimap - Alpha
	"..\\..\\workshopContent\\729626550\\", // Obe Monster Parts
	"..\\..\\workshopContent\\736752766\\", // Monster Part Mod Pack
	"..\\..\\workshopContent\\1142523872\\", // Supper's Monster Parts
	"..\\..\\workshopContent\\2437888263\\", // Custom Player Health Bar
	"..\\..\\workshopContent\\2017503832\\", // Crew Customization +
	"..\\..\\workshopContent\\3053543922\\", // Coolesterol - Stuff for machines to vend
	"..\\..\\workshopContent\\3047164667\\", // Diabetuus - Stuff for machines to vend
	"..\\..\\workshopContent\\839567998\\", // I Can't Believe It's Not Oil!
	"..\\..\\workshopContent\\1496909703\\", // Asra's Katana
	"..\\..\\workshopContent\\803721338\\", // Uniquity
	"..\\..\\workshopContent\\729444820\\", // Macrochip
	"..\\..\\workshopContent\\3297116822\\", // Decorative Plants
	//"..\\..\\workshopContent\\1385230137\\", // Sign Machine -- Not In Collection
	"..\\..\\workshopContent\\3508201411\\", // Extra Elithian Events
	"..\\..\\workshopContent\\2740063170\\", // Mechineki
	"..\\..\\workshopContent\\892674503\\", // More Stimpacks
	"..\\..\\workshopContent\\1371648124\\", // MkioTNT Workshop
	"..\\..\\workshopContent\\3534463795\\", // Box Building Planet Pack
	"..\\..\\workshopContent\\732452461\\", // Bunnykin Race - B Side (Pretty sure it more meant to be an exemple of the batch script than a serious race mod)
	"..\\..\\workshopContent\\1636662922\\", // Avali Plus
	"..\\..\\workshopContent\\2002853135\\", // Avali Solar Panels for FU!
	"..\\..\\workshopContent\\3448934708\\", // [oSB] Armor Augment Slot
	"..\\..\\workshopContent\\3591489794\\", // Buckeye01
	"..\\..\\workshopContent\\2529786394\\", // Historical Armor and Clothes
	
	// Medium Mod
	
	"..\\..\\workshopContent\\731220462\\", // Enhanced Storage - B Side
	"..\\..\\workshopContent\\945707062\\", // XS Mechs : Modular Edition (BETA) - B Side
	"..\\..\\workshopContent\\1390490083\\", // More NPC Ships - B Side
	"..\\..\\workshopContent\\2009744270\\", // Galactic Dungeons - B Side
	"..\\..\\workshopContent\\2468903056\\", // Anom's Outpost Overhaul - B Side
	"..\\..\\workshopContent\\1102394541\\", // Customizable Shuttlecraft - B Side
	"..\\..\\workshopContent\\1635522739\\", // More Outpost Objects - B Side
	"..\\..\\workshopContent\\1543782525\\", // More Teleportz - B Side
	"..\\..\\workshopContent\\1987992979\\", // Letheia Expanded
	"..\\..\\workshopContent\\3255373921\\", // Community Clothing Gathering
	"..\\..\\workshopContent\\732276079\\", // The Viera of Ivalice
	"..\\..\\workshopContent\\3670091917\\", // Remnants of the Protectorate (0.1)
	
	// Large Mod
	
	"..\\..\\workshopContent\\1563376005\\", // Shellguard: Starbound Expansion Remastered - B Side
	"..\\..\\workshopContent\\850109963\\", // Elithian Races Mod - B Side
	"..\\..\\workshopContent\\729480149\\", // Frackin' Universe - B Side
	"..\\..\\workshopContent\\3157772971\\", // Frackin' Universe Tweaked Story - B Side
	"..\\..\\workshopContent\\2010607826\\", // Betabound! - B Side
	"..\\..\\workshopContent\\2010883172\\", // Project Knightfall - B Side
	"..\\..\\workshopContent\\2359135864\\", // Arcana - B Side
	"..\\..\\workshopContent\\2568667104\\", // Maple32 - B Side
	"..\\..\\workshopContent\\729492703\\", // Frackin' Music -- Not In Collection
	"..\\..\\workshopContent\\2822921122\\", // Voided: Expansion Mod (WIP)
	"..\\..\\workshopContent\\3440851272\\", // LostBound [v1.1.1 - Revamped]
	"..\\..\\workshopContent\\2957477338\\", // [3.4 UPDATE]Voyage: An Arcana Addon
	
	// Patch
	
	"..\\..\\workshopContent\\817468961\\", // Melee Aiming
	"..\\..\\workshopContent\\1593802400\\", // Frackin Universe - Melee Aiming
	"..\\..\\workshopContent\\2874244265\\", // Water Generator on Ship Fix - S Side
	"..\\..\\workshopContent\\2576946364\\", // FU Research Tweaks
	"..\\..\\workshopContent\\3287628601\\", // NPCs Keep Quest
	"..\\..\\workshopContent\\729427436\\", // Food Stack
	"..\\..\\workshopContent\\3432475751\\", // [oSB] Enhanced Storage Cumulative Patch
	"..\\..\\workshopContent\\3166606156\\", // Shellguard Fullbright
	"..\\..\\workshopContent\\3166567877\\", // Shellguard Engineer Fix
	"..\\..\\workshopContent\\1686763043\\", // FU / Shellguard Mech Compatability
	"..\\..\\workshopContent\\2957136802\\", // Classic Quickbar
	"..\\..\\workshopContent\\2983327908\\", // Frackin' Configure MM Quickbar Icon
	"..\\..\\workshopContent\\2906029821\\", // Oceanic world caves Reworked
	"..\\..\\workshopContent\\2141522956\\", // Frackin Universe: More Planet Info Official Patch
	"..\\..\\workshopContent\\1772643711\\", // [More Planet Info] 1.4 Quest Marker Fix
	"..\\..\\workshopContent\\1639501560\\", // More Planet Info - FU Patch
	"..\\..\\workshopContent\\2678547138\\", // More Planet Info: Maple32 patch
	"..\\..\\workshopContent\\2554385889\\", // More Planet Info: Biome Fix
	"..\\..\\workshopContent\\2010914574\\", // Galactic Dungeons + More Planet Info
	"..\\..\\workshopContent\\3222985852\\", // Arctic Everwood + M32 & Vanilla
	"..\\..\\workshopContent\\1150594604\\", // bk3k's Inventory Reskin -- Not In Collection
	//"..\\..\\workshopContent\\1410562400\\", // bk3k's Inventory - 180 Slot Patch - C Side ?
	"..\\..\\workshopContent\\3355387636\\", // [oSB] OCD Tooltip Fix
	"..\\..\\workshopContent\\1430853241\\", // Container UI Tweak MK-I
	"..\\..\\workshopContent\\3251274439\\", // [oSB] Universal Instant Crafting for All Mods
	"..\\..\\workshopContent\\1429652829\\", // Elithian Races Mod: Frackin Universes Patch
	"..\\..\\workshopContent\\3372634387\\", // FU Lost Kitten (Animal Augment Patch)
	"..\\..\\workshopContent\\729428037\\", // Skippable Cinematics
	"..\\..\\workshopContent\\2914217512\\", // Quest Manager Optimizer (FU)
	"..\\..\\workshopContent\\2009993372\\", // Galactic Dungeons + Frackin Universe patch
	"..\\..\\workshopContent\\2485488784\\", // Jokebound
	"..\\..\\workshopContent\\2468896248\\", // Anom's Outpost Overhaul - The Bookstore Patch
	"..\\..\\workshopContent\\2468895859\\", // Anom's Outpost Overhaul - Enhanced Storage Patch
	"..\\..\\workshopContent\\2791865259\\", // Anom's Outpost Overhaul - Wearable Pet Collars Patch
	"..\\..\\workshopContent\\2468896108\\", // Anom's Outpost Overhaul - Outpost Shuttlecraft Patch
	"..\\..\\workshopContent\\2478120319\\", // Anom's Outpost Overhaul - Scrap Vendor Addon
	"..\\..\\workshopContent\\1103637589\\", // Buy Outpost Shops
	"..\\..\\workshopContent\\1114277962\\", // Outpost Shuttlecraft
	"..\\..\\workshopContent\\960708990\\", // Hop On Shops
	//"..\\..\\workshopContent\\1341717258\\", // Humanoid Familiar -- Not In Collection
	"..\\..\\workshopContent\\2426527925\\", // Fullbright Markings for Familiars
	"..\\..\\workshopContent\\2173752821\\", // Protogen FU BYOS Patch
	"..\\..\\workshopContent\\2808096136\\", // Protogen Race Patch for Frackin' Universe [UNOFFICIAL]
	"..\\..\\workshopContent\\943339163\\", // 1.3 mech cinematic fix
	"..\\..\\workshopContent\\1194878261\\", // [OFFICIAL] FU BYOS Modded Race Patch
	"..\\..\\workshopContent\\1432794738\\", // Avali camps on frackin' planets
	"..\\..\\workshopContent\\2197053540\\", // Avali Recipe Fixes
	"..\\..\\workshopContent\\2052758462\\", // FU + Avali Triage Patch
	"..\\..\\workshopContent\\1411331676\\", // FU/ztarbound S.A.I.L. Modded Race Support
	"..\\..\\workshopContent\\2425110660\\", // Compact Crafting!
	"..\\..\\workshopContent\\3427751671\\", // [oSB] One-For-All Compact and Perennial Crops Patch
	"..\\..\\workshopContent\\730369958\\", // Gardenbot2 : MP Friendly
	"..\\..\\workshopContent\\1543219534\\", // Starbound Patch Project
	"..\\..\\workshopContent\\2236166126\\", // The loading icon but it spins properly
	"..\\..\\workshopContent\\2302257069\\", // Loading Timer!
	"..\\..\\workshopContent\\3150873131\\", // Book of Spirits - Rearranged(Center Bottom)
	"..\\..\\workshopContent\\3077933615\\", // Weather Lag Fix
	"..\\..\\workshopContent\\2454129959\\", // Gas Giant Icon Fix
	//"..\\..\\workshopContent\\3354114852\\", // I don't have time for that (skip warps and respawns)
	"..\\..\\workshopContent\\965461640\\", // Hard impact - B Side
	"..\\..\\workshopContent\\820860996\\", // Dramatic Terrain
	"..\\..\\workshopContent\\3306550388\\", // Diverse Terrain
	"..\\..\\workshopContent\\733047573\\", // Beam up from underground
	"..\\..\\workshopContent\\729746228\\", // Disabled drop for Survival Mode
	"..\\..\\workshopContent\\3242163103\\", // nuggubs' Vanilla Texture Tweak Pack
	"..\\..\\workshopContent\\3277732237\\", // nVTTP - Mod Compat Patch
	"..\\..\\workshopContent\\3175132253\\", // nuggubs' Mega Mod - Vanilla Tweaks
	"..\\..\\workshopContent\\1344879862\\", // Placeable Dynamic FTL Drive [FU BYOS patch]
	"..\\..\\workshopContent\\3223894534\\", // Reusable Bottles - B Side
	"..\\..\\workshopContent\\3301065074\\", // Better Vanilla Colors
	"..\\..\\workshopContent\\3305096650\\", // Coherent Sandstone Statues
	"..\\..\\workshopContent\\3322797618\\", // Starvisuals - C Side?
	"..\\..\\workshopContent\\3265933323\\", // Ezra's Story Npc Tweaks - C Side -- Not In Collection
	"..\\..\\workshopContent\\2168072488\\", // You are NOT a Protector
	"..\\..\\workshopContent\\1607460753\\", // Instant Crafting Fixes
	"..\\..\\workshopContent\\2785255902\\", // Removed Sleep Particles
	"..\\..\\workshopContent\\2287605245\\", // Title Screen Music Restoration
	"..\\..\\workshopContent\\1829295532\\", // Musical Moons
	"..\\..\\workshopContent\\888057673\\", // Music Balance Mod
	"..\\..\\workshopContent\\3498093377\\", // Arcana music patches for Betabound, Ztarbound, and Frackin' Universe
	"..\\..\\workshopContent\\2659025399\\", // Maple32 Nuu FU/FR Patch
	//"..\\..\\workshopContent\\3507216031\\", // [oSB] Is this Printable? - C Side
	//"..\\..\\workshopContent\\2283501469\\", // Show Item Names! - C Side
	//"..\\..\\workshopContent\\2494854936\\", // Bigger Teleporter GUI (3x) - C Side
	//"..\\..\\workshopContent\\2802833580\\", // Instant Trash - C Side
	//"..\\..\\workshopContent\\2836659083\\", // Better Platform Falling - C Side
	"..\\..\\workshopContent\\2116201964\\", // Better Ship Animations - C Side?
	//"..\\..\\workshopContent\\1228769873\\", // Mech Blueprint Tier Colors - C Side
	//"..\\..\\workshopContent\\1627052303\\", // Climbing Gear - Infinite Rope - C Side
	//"..\\..\\workshopContent\\959068300\\", // Better Action Bar & Icons (original)
	"..\\..\\workshopContent\\3037289284\\", // Fuzzier NekiFloofSFW - C Side
	//"..\\..\\workshopContent\\2399017977\\", // Draconis Spikes - C Side
	"..\\..\\workshopContent\\3562091199\\", // NPC Door Behavior Fix - S Side?
	"..\\..\\workshopContent\\3481723799\\", // Buoyant Items
	"..\\..\\workshopContent\\1586956672\\", // Floran Fangs
	"..\\..\\workshopContent\\1589121567\\", // Better (C) Main Menu -- Not In Collection
	"..\\..\\workshopContent\\1624535752\\", // Better (C) Pick Ups -- Not In Collection
	"..\\..\\workshopContent\\3381267540\\", // Buyable Mech Blueprints - S Side?
	"..\\..\\workshopContent\\1351767173\\", // Colorful Penguins - B Side
	"..\\..\\workshopContent\\1312619566\\", // Craftable Mech Blueprints - Anvil Edition - C Side
	"..\\..\\workshopContent\\737027388\\", // Enhanced Chat Readability
	"..\\..\\workshopContent\\853627504\\", // Heavier Meteor Impact
	"..\\..\\workshopContent\\3277732919\\", // Omnicrafter Resprite
	"..\\..\\workshopContent\\3265094169\\", // 3 Style Character Idle Pose
	"..\\..\\workshopContent\\2611377283\\", // [Player Voice] Play on All Emotes
	"..\\..\\workshopContent\\3001955034\\", // Avali Player Voice Patch (+ smol avali) (+ novali)
	"..\\..\\workshopContent\\3477200456\\", // Lyceen + Player Voice Compatibility Patch
	"..\\..\\workshopContent\\2785206166\\", // Saturnian Player Voice Patch
	"..\\..\\workshopContent\\731354142\\", // Improved Food Descriptions
	"..\\..\\workshopContent\\2830836086\\", // Improved Food Descriptions: Frackin' Universe Patch
	"..\\..\\workshopContent\\747784448\\", // Food Rot Info
	"..\\..\\workshopContent\\1362697615\\", // Improved Food Descriptions + Food Rot Info PATCH 1.3.3
	"..\\..\\workshopContent\\1232116493\\", // Starmap Zoom Slider
	"..\\..\\workshopContent\\2919657283\\", // Bounty Hunter - Rapid Rank Rising!
	"..\\..\\workshopContent\\1944654694\\", // Nudity Immunity!
	"..\\..\\workshopContent\\1236279368\\", // Better Action Bar & Icons (Numbered Bar & Tiered Blueprints Edition) -- Not In Collection
	"..\\..\\workshopContent\\731465268\\", // Enhanced Matter Manipulator
	"..\\..\\workshopContent\\738608373\\", // Perfect Set Effect Remover
	"..\\..\\workshopContent\\3025733653\\", // Oil Lantern to Explorer's Lantern
	"..\\..\\workshopContent\\747652399\\", // Tooltip Tweak [Responsive]
	"..\\..\\workshopContent\\2848543460\\", // Anom's Wildfire Resprite
	"..\\..\\workshopContent\\2980471020\\", // Erchius Ghost Reskin
	"..\\..\\workshopContent\\2600581811\\", // MPI Fixes
	"..\\..\\workshopContent\\1422582678\\", // Vibrant Novakids
	"..\\..\\workshopContent\\734168608\\", // Alt Heads (Novakid)
	"..\\..\\workshopContent\\2632319634\\", // NekiFU
	"..\\..\\workshopContent\\1519251821\\", // Kitsune Frackin' Universe Patch
	//"..\\..\\workshopContent\\1487953700\\", // Humanoid Lyceen -- Not In Collection
	"..\\..\\workshopContent\\2290771373\\", // More Cute And Snakely Lamia
	"..\\..\\workshopContent\\1226150792\\", // Draconis Full Dragons Reskin
	//"..\\..\\workshopContent\\1740812022\\", // Draconis Without Wings -- Not In Collection
	"..\\..\\workshopContent\\1370155216\\", // Draconis Race Tweaks
	"..\\..\\workshopContent\\2157121346\\", // Draconis Balance Patch (+FU, Recipe, Other Fixes)
	"..\\..\\workshopContent\\2483804581\\", // Draconis Tenant Fix
	"..\\..\\workshopContent\\3163844811\\", // More Planet Info- Draconis Race Addon
	"..\\..\\workshopContent\\2810268000\\", // Orcana - More Planet Info Patch
	"..\\..\\workshopContent\\729432341\\", // The Orcana // Abandoned ?
	"..\\..\\workshopContent\\1953673870\\", // Bright Orcana Colors
	"..\\..\\workshopContent\\2917872431\\", // NekiFloof -- Not In Collection
	"..\\..\\workshopContent\\2806959441\\", // FutaraDragon Player Voice Patch
	"..\\..\\workshopContent\\752112050\\", // BetterSleep
	"..\\..\\workshopContent\\2957933938\\", // Be transparent, my friend
	"..\\..\\workshopContent\\2159479065\\", // Futara's Dragon Frackin Race Custom Take
	"..\\..\\workshopContent\\3368499316\\", // [oSB] RPG Growth KeyBind Fix
	"..\\..\\workshopContent\\2912299448\\", // Ruin Overhaul Music Reverter
	"..\\..\\workshopContent\\2777148528\\", // Maple32 Glutt FU/FR Patch
	"..\\..\\workshopContent\\2551384002\\", // Halfsea FU Patch
	"..\\..\\workshopContent\\3312068092\\", // Drone Race FU
	"..\\..\\workshopContent\\1816879102\\", // Lyceen Race Frackin' Races Patch
	"..\\..\\workshopContent\\3003880924\\", // Lagless Pixel Printer! - B Side (Lagless Pane - C side, Pixel Printer Patch - S Side)
	"..\\..\\workshopContent\\3470727854\\", // [oSB] Light Limiter
	"..\\..\\workshopContent\\3444407977\\", // [oSB] Cumulative Dynamic Lights
	"..\\..\\workshopContent\\2370607854\\", // Arcana FU Desc fix
	"..\\..\\workshopContent\\2229880801\\", // BL3 Healthbars Clean Texture
	"..\\..\\workshopContent\\1598973984\\", // Alternate UI Sounds
	"..\\..\\workshopContent\\958200861\\", // Item pickup quieter sound
	"..\\..\\workshopContent\\2760708749\\", // Custom species are curious too
	"..\\..\\workshopContent\\2490143990\\", // Less Goofy S.A.I.L. Dialogue
	"..\\..\\workshopContent\\749386227\\", // EverLana
	"..\\..\\workshopContent\\729427264\\", // Extended Songbook -- Not In Collection
	"..\\..\\workshopContent\\1923815089\\", // Macrochip Patch
	"..\\..\\workshopContent\\2751501936\\", // MechinekiSFW
	"..\\..\\workshopContent\\3277803571\\", // Mechineki + Player Voice Compatibility Patch
	"..\\..\\workshopContent\\3181091861\\", // Neki Racial Descriptions for Mechineki
	"..\\..\\workshopContent\\1170574488\\", // Time-out Patch
	"..\\..\\workshopContent\\2768791657\\", // Better Sit Idle
	"..\\..\\workshopContent\\732371478\\", // Shadowed Atmospheres
	"..\\..\\workshopContent\\1812329954\\", // Radio message retexture
	"..\\..\\workshopContent\\3472592141\\", // Crispy! Burning monsters drop cooked meat
	"..\\..\\workshopContent\\3371072235\\", // Less Annoying Spookit!
	"..\\..\\workshopContent\\3518944648\\", // Shootable Switches
	"..\\..\\workshopContent\\3503019892\\", // Revert Swim Physics
	"..\\..\\workshopContent\\3357691511\\", // Naturally spawning bandits and cultists
	"..\\..\\workshopContent\\3450252672\\", // The Viera of Ivalice: FU Compatibility
	"..\\..\\workshopContent\\3452033568\\", // The Viera of Ivalice: Crew Customization + Patch
	"..\\..\\workshopContent\\3534582033\\", // tileBroken Workaround (Voided requirement)
	"..\\..\\workshopContent\\1863755465\\", // Colorful Avali Fluff
	"..\\..\\workshopContent\\3546473893\\", // [oSB] Hunger Fighting Chairs
	//"..\\..\\workshopContent\\3049118061\\", // Avali Plus - Gibberish Patch -- Not In Collection
	"..\\..\\workshopContent\\2351598169\\", // Avali Material Strength Patch
	"..\\..\\workshopContent\\3041882683\\", // Avali Augments And Assorments: Revisited -MergedPatch
	"..\\..\\workshopContent\\3479227719\\", // LostBound - Master Add-on
	"..\\..\\workshopContent\\3572916915\\", // Voyage Fix
	"..\\..\\workshopContent\\3350051925\\", // FU Extraction Patch for Arcana (Fixed)
	"..\\..\\workshopContent\\3513291155\\", // Ores On Barren Planets
	"..\\..\\workshopContent\\2938914405\\", // Avali Camps on Arcana Planets
	"..\\..\\workshopContent\\2938914758\\", // Avali Camps on Maple32 Planets
	"..\\..\\workshopContent\\3551089399\\", // Arcana FU Shiplocker Patch
	"..\\..\\workshopContent\\3501051117\\", // [WIP]RPG Growth Re-Skin
	"..\\..\\workshopContent\\3596162393\\", // Supper's Combat Overhaul - Story NPC Fix
	"..\\..\\workshopContent\\3387009162\\", // Elithian Races - Removed Faryth Spawns (On Lush Planets)
	"..\\..\\workshopContent\\3544550780\\", // Historical Armor and Clothes - NPC Distribution
	"..\\..\\workshopContent\\3525660055\\", // Flying Monster Fix
	"..\\..\\workshopContent\\2768796598\\", // Better Sit Idle - Neki Addon
	"..\\..\\workshopContent\\1271912434\\", // Dry Sand to Glass
	"..\\..\\workshopContent\\3429052627\\", // Random Critter Walk Distance
	"..\\..\\workshopContent\\3565230344\\", // Generated Monsters Repaletted
	"..\\..\\workshopContent\\1726500697\\", // Fishing Tweaks
	"..\\..\\workshopContent\\3646731576\\" // All Fed Up
	
	
	//"..\\..\\workshopContent\\3609384859\\" //  Field Control Technology (by its Original Author)
	//"..\\..\\workshopContent\\**********\\" //  
  ],
  "includeUGC": false,
  
  "storageDirectory" : "..\\storage\\",
  "logDirectory" : "..\\logs\\",

  "defaultConfiguration" : {
    "gameServerBind" : "*",
    "queryServerBind" : "*",
    "rconServerBind" : "*"
  }
}